html {
    scroll-behavior: smooth;
}

.myMenue {
    box-shadow: 0px 5px 10px 0px grey;
}

#home {
    margin-top: 100px;
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.code-icon {
    font-size: 45px;
    background-color: white !important;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px #323232;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 80px;
    width: 80px;
    padding-top: 18px;
    padding-left: 13px;
}

#Service {
    margin-bottom: 0px;
}

#Service h2 {
    font-size: 25px;
    margin: 15px 0;
}

.pd {
    padding: 20px;
}

.client_pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 15px;
}

.social-icon {
    border: 1px solid black;
    padding: 10px;
    font-size: 17px;
    width: 35px;
    height: 35px;
}

/* all heading of section has same same font family
all paragraph of each section has same font family */

a.nav-link.active {
    background-color: black;
    color: white !important;
}